<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sleepassiatantv04">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sleepapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".playlistv02.AdultsPlaylist"></activity>
        <activity android:name=".playlistv02.FTSongPlaylist" />
        <activity android:name=".playlistv02.CMSongPlaylist" />
        <activity android:name=".playlistv02.ASMRSongPlaylist" />
        <activity android:name=".playlistv02.AllSongPlaylist" />
        <activity android:name=".ChoosePlaylist" />
        <activity android:name=".TalkWithWear" />
        <activity android:name=".Player" />
        <activity android:name=".ConnectSmartWatch" />
        <activity android:name=".Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WatchStatistics" />

        <service
            android:name=".MessageService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:host="*"
                    android:pathPrefix="/my_path"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>